{% extends "basik.html"%}
{% block main %}
    <section id="#main" class="section_one">
	   <h1>Rediscover the world</h1>
        <p>
          The gladdest moment in human life,<br>
          methinks, is a departure<br>
          into unknown lands.<br>
        </p>
	</section>

	<section class="section_two">
	    <p>
         Editorial Foreword The World Travel Guide (WTG) is the flagship digital consumer brand within the Columbus Travel Media portfolio.<br>
         Available in English, German, and Spanish versions, the WTG provides detailed and accurate travel content designed to inspire global<br>
         travellers. It covers all aspects, from cities to airports, cruise ports to ski and beach resorts, attractions to events, and it also<br>
         includes offbeat travel news, stories, quizzes and guides for adventurous travellers.<br>
		</p>
	</section>
{% endblock %}